{% extends 'base.html.twig' %}

{% block title %}Devices index{% endblock %}

{% block body %}
    <h1>Devices index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Brand</th>
                <th>Type</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for device in devices %}
            <tr>
                <td>{{ device.id }}</td>
                <td>{{ device.name }}</td>
                <td>{{ device.price }}</td>
                <td>{{ device.brand }}</td>
                <td>{{ device.type }}</td>
                <td>{{ device.createdAt ? device.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ device.updatedAt ? device.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('devices_show', {'id': device.id}) }}">show</a>
                    <a href="{{ path('devices_edit', {'id': device.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('devices_new') }}">Create new</a>
{% endblock %}
